<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title><%=title%></title>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <header>
    <p id = "pageName" style="display: none;"><%=pageName%></p>
    Artificial Intelligence and Deep Learning
  </header>
  <div id="container">
    <nav>
      <div class="menu" id="indexNav"><a id="aIndex" href="/">Home</a></div>
      <div class="menu" id="cnnNav"><a id="aCnn" href="/cnn">Convolutional Neural Networks</a></div>
      <div class="menu" id="rnnNav"><a id="aRnn" href="/rnn">Recurrent Neural Networks</a></div>
      <div class="menu" id="tranNav"><a id="aTran" href="/transformer">Transformers</a></div>
      <div class="menu" id="newsNav"><a id="aNews" href="/news">News</a></div>
    </nav>