<%- include('partials/header.ejs') %>
    <main>
      <div class="toppart">
      What is Artificial Intelligence and Deep Learning?
      </div>
      <div class="sections">
        <img src="img/artificial_intelligence_topic_1024.jpg" alt="Artificial Intelligence">
        <p>
        Artificial Intelligence, and its sub-field, Deep Learning, are both very important topics in today's world. Due to the rapid adoption and popularity of ChatGPT, an increasing number of individuals are becoming curious with and deciding to educate themselves around not only how ChatGPT works, but also where AI has been and where it's going. </p>
        <h2>History of AI</h2>
        <p>
          Artificial Intelligence as a concept was first introduced by Alan Turing in his 1950 paper "Computing Machinery and Intelligence". Turing's paper was the first to introduce the concept of how to test truly intelligent machines (later termed the "Turing Test"). 
        </p>
        <p>
          Between the 1950s and the 1970s, the field of AI flourished. As computers became more powerful and machine learning algorithms were developed, many believed true intelligence would emerge. However, the field of AI was still very much in its infancy. Significant obstacles, mainly around the lack of raw computing power and data storage, were faced. 
        </p>
        <p>
          Fast forwarding to the 1990s, we saw AI show its promise by defeating the reigning chess champion Garry Kasparov. A couple decades later, we would see Google's Alpha Go defeat Go's reigning champion, Ke Jie. 
        </p>
        <p>
          As we enter the present day, companies everywhere are planning out their AI strategy. The boom ignited by ChatGPT's incredible success has led to an arms race between major tech companies, including Google, Apple, Amazon, Microsoft, and many others. <a href="https://sitn.hms.harvard.edu/flash/2017/history-artificial-intelligence/"><cite>(2017, Anyoha)</cite></a> 
        </p>
      </div>
      <div class="sections">
        <h2>Types of AI</h2>
        <p>
          At the moment, there isn't a single all-powerful AI which can accomplish multiple task types. For this reason, many different algorithms and 'types' of AI have been developed, each with their own strengths and weaknesses. While the list is ever expanding, the most common types include <a href="https://www.forbes.com/sites/cognitiveworld/2019/06/19/7-types-of-artificial-intelligence/"><cite>(2022, Joshi)</cite></a>: 
          <ul>
            <li><span class="types">Reactive Machines:</span> these are the "intelligent" machines which were first developed in the 1950s through 1970s, and have expanded in their capabilities further since. However, there is a limit to these systems, as they can only take an input and respond to that input alone. The machines do not have memory and therefore cannot "learn". </li>
            <li><span class="types">Limited Memory:</span> with memory, these systems can perform some learning, to augment their future processing capabilities. For example, image recognition systems fall under this category, as do most other present-day AI systems.</li>
            <li><span class="types">Theory of Mind:</span> the most cutting edge of today's AI systems, like ChatGPT-4o, are expanding into this territory. 'Theory of Mind' systems not only process information, and learn from data, but can also understand the entities with which it interacts, and predict non-logical or emotion based responses.</li>
            <li><span class="types">Self-Aware:</span> thought it may seem like sometimes, ChatGPT is not self-aware. In this category a truly intelligent and aware system serves as the ultimate goal of modern AI developers. Also termed Artificial General Intelligence or Aritificial Superintelligence by some. </li>
          </ul>
      </div>
      <div class="sections">
        <h2>Deep Learning</h2>
        Deep Learning is a sub-field of AI which is focused on the development of artificial neural networks, serving as the foundation of the most advanced modern AI systems. Deep Learning is a sub-field of Machine Learning, which in turn is a sub-field of AI. The topics, concepts, and details behind Deep Learning would fill a library, so this site will only focus on three main topics: <a href="cnn.html">Convolutional Neural Networks</a>, <a href="rnn.html">Recurrent Neural Networks</a>, and <a href="cnn.html">Transformers</a>. Most of today's cutting edge AI systems rely on one or more of these three algorithm types.
      </div>
      <div class="bottompart">
        <div class="container--shortline">
          <div class="shortline"></div>
        </div>
        <em>Next: </em><a href="/cnn">Convolutional Neural Networks</a>
      </div>
    </main>

<%- include('partials/footer.ejs') %>