<%- include('partials/header.ejs') %>
<main>
  <div class="toppart">
    Artificial Intelligence News
  </div>
  <div id = "news" style = "display: none;"><%=array%></div>
  <div id = "newsInfo"></div>
</main>
<%- include('partials/footer.ejs') %>